<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDJS</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilo.css') }}">
</head>
<body>
    <nav>
        <img class = "imgquadrada" src="{{ url_for('static', filename='imagem/logo.png') }}">
        <a href="/index">Página Inicial</a>
        <a href="/contato">Contato</a>
    </nav>   

    {% block conteudo %}
    {% endblock %}

    <h6>
        Endereço: Rua Antonio Monteiro dos Santos, Bairro: Fazenda Grande do Retiro, Cidade: Salvador
    </h6>

</body>
</html>